@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  color: white;
  padding-inline: 90px;
  padding-block: 35px;
  font-family: "Roboto", sans-serif;
}

header img {
  width: 155px;
}

footer form button {
  background-color: aqua;
  margin-left: 200px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding-block: 15px;
  padding-inline: 50px;
}
